## **PROBABILIDADE**

In [1]:
import numpy as np
import pandas as pd

In [12]:
# Carregamos ao arquivo csv no google colaboratory e criamos nossa tabela de dados
enem_sp = pd.read_csv('/content/enem_2019_tratado.csv',sep=',', encoding='iso-8859-1')

In [15]:
# vamos a trabalhar com duas cidades "guarulhos" aqui
enem_guarulhos = enem_sp.loc[enem_sp.NO_MUNICIPIO_RESIDENCIA == 'Guarulhos']

In [16]:
# e a outra é 'Bauru'
enem_bauru = enem_sp.loc[enem_sp.NO_MUNICIPIO_RESIDENCIA == 'Bauru']

In [17]:
enem_guarulhos.head()

    NU_INSCRICAO NO_MUNICIPIO_RESIDENCIA  IDADE  ...  COMP5  NOTA_REDACAO INTERNET
4       1,90E+11               Guarulhos     23  ...  160.0         880.0      Sim
56      1,90E+11               Guarulhos     17  ...    0.0         320.0      Sim
69      1,90E+11               Guarulhos     27  ...  160.0         700.0      Sim
130     1,90E+11               Guarulhos     28  ...  100.0         660.0      Sim
202     1,90E+11               Guarulhos     17  ...  160.0         640.0      Sim

[5 rows x 28 columns]

In [18]:
enem_bauru.head()

     NU_INSCRICAO NO_MUNICIPIO_RESIDENCIA  IDADE  ...  COMP5  NOTA_REDACAO INTERNET
477      1,90E+11                   Bauru     21  ...  100.0         560.0      Sim
928      1,90E+11                   Bauru     17  ...  100.0         620.0      Sim
1070     1,90E+11                   Bauru     19  ...  200.0         960.0      Sim
1235     1,90E+11                   Bauru     18  ...  120.0         680.0      Sim
1506     1,90E+11                   Bauru     19  ...  140.0         620.0      Sim

[5 rows x 28 columns]

In [19]:
# Calculamos o numero de linhas e colunas
enem_guarulhos.shape

(15647, 28)

In [20]:
# Calculamos o numero de linhas
len(enem_guarulhos)

15647

In [9]:
len(enem_bauru)

4171

In [10]:
len(enem_sp)

499940

In [23]:
# CRIANDO FUNÇÃO PROBABILIDADE
# :.2f= define o numero de caças depóis da virgula
def probab (A, E):
  resultado = (A / E)*100 
  print('{:.2f}'.format(resultado))

In [24]:
# PROBABILIDADE DE RETIRAR UM VESTIBULANDO DE GUARULHOS
probab (len(enem_guarulhos), len(enem_sp))

3.13

In [25]:
# PROBABILIDADE DE RETIRAR UM VESTIBULANDO DE BAURU
probab (len(enem_bauru), len(enem_sp))

0.83

## Probabilidade de não ocorrer um evento

In [26]:
# CRIANDO FUNÇÃO PROBABILIDADE DE NÃO OCORRER UM EVENTO
def probab_nao (A, E):
  resultado = (1- (A / E))*100 
  print('{:.2f}'.format(resultado))

In [27]:
# PROBABILIDADE DE NÃO RETIRAR UM VESTIBULANDO DE GUARULHOS
probab_nao (len(enem_guarulhos), len(enem_sp))

96.87

In [28]:
# PROBABILIDADE DE NÃO RETIRAR UM VESTIBULANDO DE GUARULHOS E NEM DE BAURU
probab_nao (len(enem_guarulhos)+len(enem_bauru), len(enem_sp))

96.04

## Probabilidade da união mutuamente exclusivos (AUB)

In [29]:
# CRIANDO FUNÇÃO PROBABILIDADE DA UNIÃO MUTUAMENTE EXCLUSIVOS (AUB)
def probab_uniao (A, B, E):
  resultado = (A/E + B/E)*100
  print('{:.2f}'.format(resultado))

In [30]:
# PROBABILIDADE DE RETIRAR UM VESTIBULANDO DE GUARULHOS OU DE BAURU
probab_uniao(len(enem_guarulhos),len(enem_bauru),len(enem_sp))

3.96

## Probabilidade da Intersecção de dois eventos

In [31]:
# CRIANDO FUNÇÃO PROBABILIDADE DA INTERSECÇÃO DE DOIS EVENTOS
def probab_inter (A, B, E):
  resultado = (A/E * B/E)*100
  print('{:.3f}'.format(resultado))

In [32]:
#PROBABILIDADE DE RETIRAR UM VESTIBULANDO DE GUARULHOS E DE BAURU (com reposição)
probab_inter(len(enem_guarulhos),len(enem_bauru),len(enem_sp))

0.026

## Probabilidade Condicional

In [33]:
#CRIANDO FUNÇÃO PROBABILIDADE CONDICIONAL
def probab_cond (AB, B):
  resultado = (AB / B)*100
  print('{:.2f}'.format(resultado))

In [34]:
#PROBABILIDADE DE RETIRAR UMA MULHER PARDA
mulher = enem_sp.loc[enem_sp.SEXO == 'F']

In [35]:
mulher_parda = mulher.loc[mulher.RACA == 'parda']

In [36]:
mulher_parda.head(20)

   NU_INSCRICAO NO_MUNICIPIO_RESIDENCIA  IDADE  ...  COMP5  NOTA_REDACAO INTERNET
1      1,90E+11               São Paulo     17  ...  200.0         880.0      Não
3      1,90E+11              Embu-Guaçu     17  ...   80.0         560.0      Sim
7      1,90E+11             Santo André     20  ...   80.0         540.0      Sim
9      1,90E+11             Santo André     44  ...   40.0         520.0      Sim
11     1,90E+11                   Guará     17  ...  120.0         680.0      Sim
13     1,90E+11                  Osasco     17  ...    0.0         520.0      Não
16     1,90E+11               São Paulo     18  ...  180.0         880.0      Sim
19     1,90E+11                  Santos     29  ...   80.0         520.0      Sim
25     1,90E+11                Bertioga     26  ...  140.0         860.0      Sim
29     1,90E+11          Novo Horizonte     19  ...   80.0         520.0      Sim
31     1,90E+11                Campinas     19  ...  160.0         720.0      Sim
32     1,90E+11                   Cotia     19  ...  140.0         580.0      Não
34     1,90E+11        Águas de Lindóia     21  ...    0.0         480.0      Sim
41     1,90E+11                 Barueri     21  ...  180.0         780.0      Sim
44     1,90E+11        Águas de Lindóia     17  ...  160.0         720.0      Não
46     1,90E+11               Igarapava     19  ...  100.0         640.0      Sim
47     1,90E+11               Mairinque     31  ...  200.0         920.0      Sim
56     1,90E+11               Guarulhos     17  ...    0.0         320.0      Sim
74     1,90E+11                 Socorro     23  ...   80.0         780.0      Não
75     1,90E+11             Santo André     24  ...  120.0         580.0      Sim

[20 rows x 28 columns]

In [37]:
probab_cond(len(mulher_parda),len(mulher))

30.76